<div id="camera" class="main">
  <div class="row">
    <button (click)="start()" id="btnplay" class="btn btn-primary">Play</button>
    <button (click)="pause()" class="btn btn-warning">Pause</button>
    <button (click)="resume()" class="btn btn-info">Resume</button>
    <button (click)="sound()" class="btn btn-danger">Play with Sound</button>
  </div>

  <canvas style="display: none !important;" #canvasElementCob id="theCanvas"></canvas>
  <video style="display: none !important;" #videoElement id="theVideo" class="responsive"></video>

  <canvas #canvasElement id="theCanvas" class="responsive"></canvas>


</div>