<div *ngIf="feedOkay">
  <div class="main">
    <br>
    <div>
      <button (click)="logout()" class="right logout" href="#">Logout</button>
    </div>
    <br>
    <br>
    <hr>
    <div class="post">
      <!-- PROFILE [PHOTO,USERNAME]  -->
      <div class="profile">
        <img src="../assets/images/Profile.png" alt="profile" class="profile pimg">
        <a>{{ person.nick }}</a>
        <img src="../assets/images/options.png" alt="profile" class="profile options right">
      </div>
      <!-- POST [POSTAGEM]  -->
      <div>
        <img src="../assets/images/Feed.jpg" alt="foto" class="responsive">
      </div>
      <!-- FUNÇÕES [NICE,COMMENT]  -->
      <div class="functions">
        <button>
          <img src="../assets/images/nice.png" alt="profile" class="profile fimg">0
        </button>
        <button>
          <img src="../assets/images/comment.png" alt="profile" class="profile fimg">0
        </button>
      </div>
      <!-- DESCRIPTION [NICE,COMMENT]  -->
      <hr>
      <div class="textmid">
        <p>
          With great power comes great responsibility 🎭
        </p>
      </div>
      <hr>
    </div>
    <br>
    <br>
  </div>
</div>