<app-menu></app-menu>
<div *ngIf="feedOkay">
  <div class="main">
    <br>
    <br>
    <br>
    <div class="post" *ngFor="let post of feed">
      <!-- PROFILE [PHOTO,USERNAME]  -->
      <div class="profile">
        <img [attr.src]="post.profile" alt="P" class="profile pimg">
        <a>{{ post.nick }}</a>
        <img src="../assets/images/options.png" alt="profile" class="profile options right">
      </div>
      <!-- POST [POSTAGEM]  -->
      <div *ngIf="post.typeId == 1">
        <img [attr.src]="post.content" alt="foto" class="responsive">
      </div>
      <div *ngIf="post.typeId == 2">
        <br>
        <p alt="content" class="textmid">
          {{ post.content }}
        </p>
        <br>
      </div>
      <!-- FUNÇÕES [NICE,COMMENT]  -->
      <div class="functions">
        <button id="nicebtn">
          <img src="../assets/images/nice.png" alt="profile" class="profile fimg">{{ post.nice }}
        </button>
        <button>
          <img src="../assets/images/comment.png" alt="profile" class="profile fimg">{{ post.comment }}
        </button>
      </div>
      <!-- DESCRIPTION [NICE,COMMENT]  -->

      <div class="textmid" *ngIf="post.description != ''">
        <p>
          {{ post.description }}
        </p>
      </div>
      <hr>
    </div>
    <br>
    <br>
  </div>
</div>