@font-face {
  font-family: Lora;
  src: url("/assets/fonts/lora/Lora-Regular.ttf");
}

.title{
  font-family: Lora;
}

.nlink{
  cursor: default;
  text-decoration: none;
  color: black;
}

body{
    margin: unset;
  }